<div class="container">
  <div>
    <img
      id="star-wars-logo"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Star_Wars_Yellow_Logo.svg/2560px-Star_Wars_Yellow_Logo.svg.png"
      alt="Star wars logo"
    />
  </div>

  <nav>
    <ul>
      <li routerLinkActive="app-st-active">
        <a routerLink="people">People</a>
        <a routerLink="species">Species</a>
        <a routerLink="planet">Planets</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
