<dl>
  <dt>Name</dt>
  <dd>{{ data.name }}</dd>

  <dt>diameter</dt>
  <dd>{{ data.diameter }}</dd>

  <dt>rotation_period</dt>
  <dd>{{ data.rotation_period }}</dd>

  <dt>orbital_period</dt>
  <dd>{{ data.orbital_period }}</dd>

  <dt>gravity</dt>
  <dd>{{ data.gravity }}</dd>

  <dt>population</dt>
  <dd>{{ data.population }}</dd>

  <dt>climate</dt>
  <dd>{{ data.climate }}</dd>

  <dt>terrain</dt>
  <dd>{{ data.terrain }}</dd>

  <dt>surface_water</dt>
  <dd>{{ data.surface_water }}</dd>

  <dt>residents</dt>
  <dd>{{ data.residents }}</dd>

  <dt>films</dt>
  <dd>{{ data.films }}</dd>

  <dt>url</dt>
  <dd>{{ data.url }}</dd>

  <dt>Created</dt>
  <dd>{{ data.created | date: "medium" }}</dd>

  <dt>Edited</dt>
  <dd>{{ data.edited | date: "medium" }}</dd>
</dl>
