<form [formGroup]="formGroup" (ngSubmit)="doSearchDataChange()">
  <div class="topbar">
    <div class="pagination-left">
      <button
        type="button"
        [disabled]="!data.previous"
        (click)="doPageChange(data.previous)"
      >
        <span class="material-symbols-outlined"> arrow_back_ios </span>
      </button>
    </div>
    <div class="searchbar">
      <label>
        <input
          type="text"
          formControlName="search"
          placeholder="Search by name"
        />
      </label>
    </div>
    <div class="pagination-right">
      <button
        type="button"
        [disabled]="!data.next"
        (click)="doPageChange(data.next)"
      >
        <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>
  </div>

  <div>
    <span>
      {{ formGroup.controls.page.value ? formGroup.controls.page.value : "1" }}
      /
      {{ pages }}
    </span>
  </div>
</form>

<ul *ngIf="data.results.length > 0; else notfound">
  <li *ngFor="let item of data.results">
    <a [routerLink]="getId(item.url)">{{ item.name }}</a>
  </li>
</ul>

<ng-template #notfound>
  <div>Not Found!</div>
</ng-template>
