.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

li{
  list-style-type: disc;
  margin: 0px 0px 7px 0px;
  background-color: black;
}

nav a{
  color: gold;
  font-weight: bold;
}
