@import url('https://fonts.cdnfonts.com/css/star-wars');

body {
  //background-image: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  //background-color: rgb(10, 10, 10);
  color: #FFE81F;
  font-family:sans-serif
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

li{
  list-style: none;
}

// a {
//   text-decoration: none;
//   color: white;
//   text-transform: uppercase;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
