<dl>
  <dt>Name</dt>
  <dd>{{ data.name }}</dd>

  <dt>Classification</dt>
  <dd>{{ data.classification }}</dd>

  <dt>Designation</dt>
  <dd>{{ data.designation }}</dd>

  <dt>Average Height</dt>
  <dd>{{ data.average_height }}</dd>

  <dt>Average Lifespan</dt>
  <dd>{{ data.average_lifespan }}</dd>

  <dt>Eye Colors</dt>
  <dd>{{ data.eye_colors }}</dd>

  <dt>Hair Colors</dt>
  <dd>{{ data.hair_colors }}</dd>

  <dt>Skin Colors</dt>
  <dd>{{ data.skin_colors }}</dd>

  <dt>Language</dt>
  <dd>{{ data.language }}</dd>

  <dt>Create</dt>
  <dd>{{ data.created | date: "medium" }}</dd>

  <dt>Edited</dt>
  <dd>{{ data.edited | date: "medium" }}</dd>
</dl>
